<template>
    <Page>
        <ActionBar>
            <Label text="Home" class="title"/>
        </ActionBar>

        <GridLayout>
            <StackLayout class="form">
            <StackLayout>
                <TextField hint="Einladungscode"
                    v-model="invitecode"
                    secure="false"
                    keyboardType="number"
                    returnKeyType="done"
                    autocorrect="false"
                    maxLength="9">
                </TextField>

            </StackLayout>
              <StackLayout class="input-field">
                    <TextField v-model="textFieldEmail"
                    hint="Gib deine E-Mailadresse ein"
                    keyboardType="email"/>
                </StackLayout>
                <StackLayout class="input-field">
                <TextField v-model="textFieldPassword"
                hint="Gib dein Passwort ein" 
                secure="true" />
                </StackLayout>
                
                <Button text="Anmelden" class="text btn btn-primary"
                @tap="onButtonTap" />
            </StackLayout>
        </GridLayout>
    </Page>
</template>

<script>
import { Http, HttpResponse } from "@nativescript/core";
export default {
    methods: {
    onButtonTap() {
        Http.request({
        url: "https://my.awesomebible.de/api/auth",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
            invitecode: this.invitecode,
            email: this.textFieldEmail,
            password: this.textFieldPassword,
        }),
        }).then(
        (response) => {
            const result = response.content.toJSON();
            alert(`Http POST Result: ${result}`)
        },
        (e) => {}
        );
  },
    },
    data() {
            return {
                textFieldEmail: null,
                textFieldPassword: null
            };
        }
    };
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: top;
    }
</style>
